/*h2 {
	text-align: center;
}

.main {
	display: flex;
}

.first {
	margin-left: 330px;
}

.second {
	margin-left: 275px;
}*/


/*h2 {
	text-align: center;
}

img {
	width: 130px;
	height: 160px;
}

div {
	display: flex;
	margin-top: 60px;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
}

div p {
	margin-left: 80px;
}*/

/*h1{
	margin-left: 150px;
}

h3 {
	margin-left: 250px;
}*/