/** {
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	background: silver;
}

.main-div {
	width: 500px;
	height: 350px;
	background: #ffffff;
	margin: 10% auto;
}

button {
	width: 200px;
    height: 80px;
    color: #ffffff;
    background: #386fad;
    margin: 25% 30%;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
}

button:hover {
	border-radius: 50px;
	background: green;
    transition: 0.5s;
}*/

* {
	box-sizing: border-box;
	font-family: sans-serif;
}

.title, .title2, .title3, .title4 {
	display: flex;
	justify-content: space-around;
}

.shadow {
	width: 200px;
	border: 1px solid #f1f1f1;
	height: 200px;
}

.shadow1 {
	box-shadow: 0 8px 8px #b5b4b4;
}

.shadow2 {
	box-shadow: 0 11px 8px #b5b4b4;
}

.shadow3 {
	box-shadow: 0 16px 13px #b5b4b4;
}

.shadow4 {
	box-shadow: 0 5px 5px #b5b4b4;
}

.shadow5 {
	box-shadow: 0 5px 10px #b5b4b4;
}

.shadow6 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3), 0 0 18px 0 rgba(0,0,0,0.20);
}

.shadow7 {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5), 0 0 18px 0 rgba(0,0,0,0.20);
}

.shadow8 {
	box-shadow: 0 18px 10px #b5b4b4;
}
